<section>
    <h2>Deleted sucessfully!</h2>

    <a href="/"><button>Voltar</button></a>
</section>

<style>
    section {
        width: 95vw;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: auto;
    }
</style>