<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users Node</title>
</head>

<body>
    {{{body}}}
    <script src="https://kit.fontawesome.com/4050b7373c.js" crossorigin="anonymous"></script>
    <style>
        * {
            box-sizing: border-box;
            -webkit-transition: all .35s ease;
            transition: all .35s ease;
        }
    </style>
</body>

</html>