<form action="/registerProducts" method="POST">
    <p>Name: </p>
    <input type="text" name="nome">
    <p>Quantity:</p>
    <input type="number" name="quantidade">
    <p>Price:</p>
    <input type="number" name="preco">
    <button type="submit">Register</button>
</form>